/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background-color: rgb(255, 255, 255);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  background-color: rgb(0, 0, 0);
}

#header .header a {
  color: #fff;
  text-decoration: none;
}

#header .header li a:hover {
  text-decoration: none;
}

#header .header {
  background-color: #000000;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(255, 255, 255, 0.9);
}


/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
/**
  Desktop Navigation 
**/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .brand-name {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 560;
  margin: 15px;
}

.navbar .nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.navbar .nav-links li a {
  font-size: 15.5px;
  color: white;
  display: block;
  padding: 20px;
}

.navbar .nav-links li a:hover {
  transition: 0.3s;
  background-color: red;
}

.toggle-button {
  display: none;
  padding: 20px;
}

@media (max-width: 700px) {
  .toggle-button {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .mob-view {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .nav-links {
    display: flex;
    width: 100%;
  }

  .nav-links ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-links li {
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }
}










/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/